body, #root, .App{
  height: 100%;
  width: 100%;
  float: left;
  font-family: 'Raleway', sans-serif;
  line-height:1.5;
}
header{
  height: 100%;
  color: white;
  background-color: black;
  width: 50%;
  clear: both;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
header section{
  font-size: 24px;
}
header h1{
  padding: 0 25%;
  margin: 15px 0;
}
header img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin:0 29%;
}
header p{
  padding: 10px 15%;
  margin: 10px 0;
}
header button{
  font-size: 24px;
  text-align: center;
  border-radius: 15px;
}
::selection { background: #3F8EFC; color: #fff; }
a { text-decoration: none; }

.download {
	width: 230px;
	height: 60px;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.075), rgba(255,255,255,.045));
	background-image: linear-gradient(to top, rgba(0,0,0,.075), rgba(255,255,255,.045));
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.09),inset 0 1px 0 rgba(255,255,255,.04), 0 0 1px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.1);
	border-radius: 100px;
	color: black;
	line-height: 60px;
	text-align: center;
	letter-spacing: 5px;
	overflow: hidden;
	transition: all .3s cubic-bezier(.67,.13,.1,.81), transform .15s cubic-bezier(.67,.13,.1,.81);
}
.download:hover {
  content: 'Click to Download';
	width: 400px;
}
.download:active {
	transform: translateY(3px);
}
.download:before, .download:after {
	opacity: 1;
	transition: all .3s cubic-bezier(.67,.13,.1,.81);
}
.download:hover:after {
	top: 0px;
	opacity: 1;
}
.download:hover:before {
	top: 60px;
	opacity: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  padding: 0;
  margin: 0;
  list-style: circle;
}
header li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}

header a{
  text-decoration: none;
  color: white;
}
section{
  float: left;
  width: 100%;
}
main{
  width: 40%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 5%;
}
h3{
  text-decoration: underline;
}

/* @media only screen and (max-width: 1350px) {
  header section{
    font-size: 22px;
  }
  header button{
    font-size: 18px;
  }
} */
@media only screen and (max-width: 1450px) {
  header section{
    font-size: 22px;
  }
  header button{
    font-size: 18px;
  }
  header img{
    width: 250px;
    height: 250px;
  }
}
@media only screen and (max-width: 1250px) {
  header section{
    font-size: 20px;
  }
  header button{
    font-size: 18px;
  }
  header img{
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 900px) {
  header, main{
    width: 100%;
    position: relative;
    float: left;
  }
}
